header{
    color: rgb(53, 143, 53); font-size: 100px;}

body{
    background-color: rgb(25, 25, 136);}


h1{
    font-size: 35px;  border: 2px solid powderblue;
    padding: 50px;}

h2{
    font-size: 35px;   border: 2px solid powderblue;
    margin: 100px;}

h3{
    font-size: 35px; }

h4{
    font-size: 35px; }

h5{
    font-size: 35px;}
