header{
    color: rgb(53, 143, 53); font-size: 100px; float: left}

body{
    /*background-color: rgb(25, 25, 136);*/
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpSWLkprI-tByZcuteSHC4Oj5jgiE4vZ3WcA&s);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}


h1{
    font-size: 35px; float: left; 
    }

h2{
    font-size: 35px;    
    margin: 30px; font-family: papyrus; }
.gammonpic{border: 20px solid rgb(69, 14, 14);

}

h3{
    font-size: 35px; }

h4{
    font-size: 35px; font-family: gill sans;
}

h5{
    font-size: 35px; font-family: lucida sans;
}

.zeldaimg{
    width: 200px; 
}

table{ 
    font-family: gill sans;
    border: 10px solid black;
}

a{
    font-size: 30px; 
}

