header{
    color: rgb(53, 143, 53); font-size: 100px;}

body{
    background-color: rgb(25, 25, 136);}


h1{
    font-size: 35px;  border: 20px solid black ;
    padding: 25px;}

h2{
    font-size: 35px;   border: 20px solid rgb(69, 14, 14); padding: 25px;
    margin: 50px; font-family: papyrus;}

h3{
    font-size: 35px; }

h4{
    font-size: 35px; font-family: gill sans;
}

h5{
    font-size: 35px; font-family: lucida sans;
}

a{
    font-size: 30px; 
}
